/* Forms */

/* 
.form-group {
  margin: 0px;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
 
  color: rgb(255, 255, 255);
}

.form input[type="text"],
.form input[type="email"],
.form input[type="text"],
.form input[type="number"],
.form select,
.form textarea {
  display: block;
  height: 2rem;
  
  padding: 0;
  border: 1px solid #ccc;
  color: gray;
}

.form input[type="submit"],
button {
  font: inherit;
}

.btn {
  background-color: #083653;
  color: rgb(34, 32, 32);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 1rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  text-align: center;
  width: 100%;
}



.edit_form {
  margin: 10px 0;
  padding: 0;
} */
